* {
  box-sizing: border-box;
  color: white;
}
body {
  height: 100vh;
}
.container {
  padding: 0 7%;
  @media screen and (min-width: $mobileBreakPoint) {
    padding: 0 4%;
  }
}

.siteLogo {
  width: 10vw;
  max-width: 150px;
  min-width: 120px;
  height: auto;
  img {
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: $mobileBreakPoint) {
    min-width: unset;
    width: 30vw;
  }
}

a {
  text-decoration: none;
  color: white;
  &:hover,&:active{
    text-decoration: underline!important;
  }
}

.logo {
  img {
    width: 100%;
    height: auto;
  }
}

.link {
  font-size: $veryShortFontSize + 10!important;
  padding: $veryShortSpacing $veryShortSpacing !important;
  margin-left: $veryShortSpacing !important;
  text-align: center;
  &:hover {
    color: $gray;
  }
}
.greenButton {
  background: $green !important;
  border-radius: $lightBorderRadius !important;
  color: white;
  
  font-weight: $semiBoldBodyFontWeight;
}

h1 {
  font-size: $normalHeadingsFontSize;
  text-align: center;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  * {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.144);
    width: 100%;
    height: 45px;
    margin: $littleShortSpacing 0 !important;
    padding: 0 !important;
    border: none;
    outline: none;
  }
  input {
    padding: $veryShortSpacing ($shortSpacing + 10) !important;
    font-size: $shortFontSize;
  border-radius: $lightBorderRadius !important;

  }
}
