* {
  box-sizing: border-box;
  color: white;
}
body {
  height: 100vh;
}
.container {
  padding: 0 7%;
  @media screen and (min-width: $mobileBreakPoint) {
    padding: 0 4%;
  }
}

.siteLogo {
  width: 10vw;
  max-width: 150px;
  min-width: 120px;
  height: auto;
  img {
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: $mobileBreakPoint) {
    min-width: unset;
    width: 30vw;
  }
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  img {
    width: 100%;
    height: auto;
  }
}

.link {
  font-size: $veryShortFontSize + 10!important;
  padding: $veryShortSpacing $veryShortSpacing !important;
  margin-left: $veryShortSpacing !important;
  text-align: center;
  &:hover {
    color: $gray;
  }
}
.greenButton {
  background: $green !important;
  border-radius: $lightBorderRadius !important;
  color: white;
  
  font-weight: $semiBoldBodyFontWeight;
}

h1 {
  font-size: $normalHeadingsFontSize;
  text-align: center;
}
