main {
  margin: $normalSpacing 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    color: $gray;
  }
  p {
    font-weight: $regularBodyFontWeight;
  }
  h1,
  h2 {
    color: $veryDarkBlue;
  }
  h1 {
    text-align: center;
    text-transform: capitalize;
    line-height: $normalLineHeight;
    font-size: $normalHeadingsFontSize + -5;
  }

  .main__introduction {
    display: grid;
    grid-template-columns: auto;
    > h1,
    div,
    section {
      margin: $lightSpacing 0;
    }
  }
  .main__introduction__featuresImage {
    background: url(/Fylo-landing-page-with-features-grid-section/vendors/images/illustration-features.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100% !important;
    height: 175px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.main__introduction__details {
  article {
    margin: ($lightSpacing + 10) 0;
  }
}

.main__signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin: $littleShortSpacing 0;
  }
  p {
    text-align: center;
    color: $darkBlue;
    font-weight: $semiBoldBodyFontWeight;
    margin: ($shortSpacing + -5) 0;
    width: 90%;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    * {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.144);
      width: 100%;
      height: 45px;
      margin: $littleShortSpacing 0 !important;
      padding: 0 !important;
      border: none;
      outline: none;
    }
    input {
      padding: $veryShortSpacing ($shortSpacing + 10) !important;
      font-size: $shortFontSize;
    }
  }
}
