main {
  margin: $normalSpacing 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  * {
    color: $gray;
  }
  p {
    font-weight: $regularBodyFontWeight;
  }
  h1,
  h2 {
    color: $veryDarkBlue;
  }
  h1 {
    text-align: center;
    text-transform: capitalize;
    line-height: $normalLineHeight;
    font-size: $normalHeadingsFontSize + -5;
  }

  .main__introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    > h1,
    div,
    section {
      margin: $lightSpacing 0;
    }
  }
  .main__introduction__featuresImage {
    background: url('/vendors/images/illustration-features.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100% !important;
    height: 175px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.main__introduction__details {
  article {
    margin: ($lightSpacing + 10) 0;
  }
}

.main__signUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  h1 {
    margin: $littleShortSpacing 0;
  }
  p {
    text-align: center;
    color: $darkBlue;
    font-weight: $semiBoldBodyFontWeight;
    margin: ($shortSpacing + -5) 0;
    width: 90%;
  }
}

//media queries
@media screen and (min-width: $mobileBreakPoint) {
  main {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: $lightSpacing 0;
    // height: 180% !important;
    // min-height: 900px !important;
    h1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 1.3em !important;
    }
  }
  .main__introduction {
    // height: 80%;
    // margin: $shortSpacing 0;
  }
  .main__details__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 95%;
    // margin: $shortSpacing 0!important;
    // overflow: hidden;
    div {
      margin: $littleShortSpacing $lightSpacing !important;
      // width: 45% !important;
      // max-height: 225px;
      height: 40% !important;
      min-height: 180px;
    }
    section {
      // marg
    }
  }
  .main__introduction__details {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: $littleShortSpacing;
    grid-row-gap: $shortSpacing;
    height: 60% !important;
    h2 {
      font-size: 1em;
    }
    p {
      font-size: 0.7em;
    }
    article {
      margin: 0;
    }
  }

  .main__introduction {
    h1 {
      br {
        display: none !important;
      }
    }
  }
  .main__signUp {
    width: 100%;
    max-width: 425px;
  }
}

@media screen and (min-width: $tabletBreakPoint) {
  main {
    h1 {
      font-size: 1.6em !important;
    }
  }
  .main__details__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    div {
      width: 40% !important;
      min-height: 290px;
    }
    section {
      width: 60% !important;
    }
  }
  .main__introduction__details {
    h2 {
      font-size: 1.21em;
    }
    p {
      width: 90%;
      font-size: 0.87em;
    }
    article {
    }
  }

  .main__introduction {
    h1 {
      br {
      }
    }
  }
  .main__signUp {
    max-width: 625px;
    p {
      font-size: 0.9em;
    }
  }
}
